.minW {
    background: url("/static/img/backgroundImg.png") no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    min-width: 1330px;
    min-height: 700px;

}
.center{
    display: flex;
    width: 1229px;
    height: 705px;
    margin: 0 auto;
     position: absolute;
    top: 50%;
    left: 50%;
     -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.i_left{
    padding-top: 10px;
    width: 40%;
    height:100%;
    padding-left: 5%;
}
.i_top{
    background:url('/static/img/left_03.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 90%;
    height:82%;
    margin-left: 10%;
}
.i_top img{
    width: 100%;
    height: 65%;
   
}

.i_right{
    width: 57%;
    height: 95%;
    position: relative;
}
 .i_right img{
    width: 100%;
    height: 100%;
}
.i_center{
    width: 4%;
    padding-left:10px;   
}
.i_center img{
    width: 44px;
    position:absolute;
   margin-top: 342px;
}
.i_list{
    width: 100%;
   padding-left: 10%;
  
}
.i_item{
    margin-bottom: 10px;
    width: 86%;
   
}





.i_list1{
    width: 100%;
    height: 100%;
  
}
.wrapper{
    display: flex;
    width: 100%;
    padding: 0 10%;
}
.w_left{
    width: 44%;
    padding-left: 10%;
}
.w_left img{
    width: 70px;
    height: 70px;
}
.w_right{
    text-align: center;
}
.i_item1{
    width: 86%;
    text-align: center;
     vertical-align: middle;
       padding-bottom: 2px;
    padding-left: 21%;
    padding-right: 30px;
    display: inline-block;
}
 .i_item1 label{
    display: block;
    float: left;
    width: 64%;
    height: 33px;
    text-align: right;
   line-height: 33px;
}
.g_box{
  padding: 0 10px;
    line-height: 30px;
    background: #01C675;
   display: inline-block;
   
}
.tab{
    position: relative;
    margin-top: 15%;
    left: 8.9%;
    width: 83%;
    height: 80%;
}
.page{
    position:relative;
    left: 120px;
    top:20px;
}
.logo{
    position: absolute;
    top: 46px;
    left: 55px;
    width: 150px;
    height: 50px;
}
.logo img{
    width: 100%;
    height: 90%;
}

.i_button{
    position:relative;
    top:-537px;
    left: 65%;
    color: #57a3f3;
    width: 28%;
}

.i_but{
    cursor: pointer;
    height:30px;
    margin-bottom:10px;
    width: 100%;
}


.i_but img{
    width: 100%;
    height: 32px;
}

.i_button span{
    position: relative;
    top: -33px;
    text-align: center;
    width:100%;
    display: block;
    line-height: 27px;
    height: inherit;
    color: #57a3f3;
}

.i_button span:hover{
    color:#2d8cf0 ;
    border-color: #57a3f3;
}

.ivu-table-body,
.ivu-table-header{
    text-align: center;
}


 .ivu-table  .demo-table-info-row td{
    background-color: #EA2000;
    color: #fff;
}


.i_lii{
   width: 100%;
}
.i_bb{
     width: 100%;
     height: 54%;
}

.i_box{
    width: 70%;
    height: 95.5%;
}


.hide_div{
    margin: 10% auto;
    width: 30%;
    height: 50%;
}

.excelRow{
    position: fixed;
    bottom: 32%;
    width:400px;
}

.onRecord{
    width: 92%;
    max-height: 100px;
    overflow: auto;
    position:absolute;
    top: 30%;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border: width border-style color;
    padding: 5px 0;
    font-size: 12px;
    transform-origin: center top 0px;
    border-radius: 4px;
    z-index: 88;
    background-color: #fff;
}

.onProject{
    width: 92%;
    max-height: 100px;
    overflow: auto;
    position:absolute;
    top: 46%;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border: width border-style color;
    padding: 5px 0;
    font-size: 12px;
    transform-origin: center top 0px;
    border-radius: 4px;
    z-index: 88;
    background-color: #fff;
}

.hide_div2{
    margin: 2% auto;
    width: 90%;
    height: 90%;
}

.class .ivu-input-large{
    height: 26px;
}


.class  .ivu-input{
    border-bottom:2px solid #01C675;
}

