.minR{
    background: url("/static/img/backgroundImg.png") no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    min-width: 1330px;
  
    letter-spacing:1px;
    font-size: 10px;
}

.total{
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    top:50%;
    left: 50%;
      -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.n_left{
    overflow: hidden;
    width: 50%;
}

.n_left img{
    width: 86%;
    height: 662px;
}

.neft_font{
   position: absolute;
    margin-top: 69px;
    top:60px;
    left:14px;
    color: #fff;
    width: 100px;
}

.n_log{
    position: relative;
    top:8px;
    left: 0;
    width: 150px;
    height: 60px;
    margin-bottom:5%;
}
.n_log img{
    width: 100%;
    height: 85%;
}



.n_top2{
    position: relative;
    top: -20px;
   left: 47px;
    width:380px;
    margin-top: 20px;
     border-bottom: 8px solid #0766A3;
    border-radius: 3px;
     background: #F9F9F9;
     
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}

.n_one{
    position: relative;
    top: 0;
    left: 0;
    background: #F9F9F9;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #0766A3;
    border-radius: 3px;
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}

.ivu-input-group-prepend{
    background:repeating-linear-gradient(#2B9BD6,#1B81C8);
    background:-webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background:-moz-repeating-linear-gradient(#0766A3,#2590D1);
    color: #fff;
    width:16%;
}



.one_left{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 50%;

}

.one_left input{
    height: 2.34em;
    border: 1px solid #7FC875;
    margin-left: -3px;
  
}
.one_right{
    padding-top: 5px;
    width: 50%;
}

.one_right label{
    width: 30%;
    height: 27px;
    background:#2590D1;
    color: #fff;
    border-radius:3px;
    line-height: 28px;
    text-align: center;
    float: left;
}

.one_right input{
    height: 2.34em;
    border: 1px solid #7FC875;
   
}

.n_top1{
    margin-top: 20px;
     border-bottom: 8px solid #0766A3;
    border-radius: 3px;
     background: #F9F9F9;
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}
.n_one1{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 30px;
}
.one_left1{
    width: 100%;
    
}
.one_left1 input{
    width:76%;
    height: 2.34em;
    border: 1px solid #7FC875;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    text-decoration: none;
    margin-left: -3px;
}

.one_left1 label{
    display: inline-block;
    width: 16%;
    height: 25px;
    background:#2590D1;
    color: #fff;
    border-radius:3px;
    line-height: 20px;
    text-align: center;
   
}


#bg{
    height:50px;
    background: #7FC875;
}

.textarea{
    position: relative;
    left: 15%;
}
.pen{
    position: relative;
    top: -100px;
    left: -2%;
    width: 200px;
    height: 280px;
}
.pen img{
    width: 100%;
    height: 100%;
}
.clip{
    position: relative;
    top: -430px;
    left: 85%;
    width: 150px;
    height: 200px;
}
.clip img{
    width: 100%;
    height: 100%;
}

.but_list{
    position: absolute;
    top:47%;
    left: 42.2%;
}

.div_but{
   cursor: pointer;
   width: 80px;
   height:30px;
   margin-bottom:10px;
}
.div_but img{
    width: 100%;
    height: 100%;
}

.div_but span{
     position: relative;
    top: -30px;
    left: -5px;
    text-align: center;
    width:100px;
    display: block;
    color: #2871A0;
}


.box{
   position:absolute;top: 0;left:10%;width:30%;height:93%;margin-top:1%;
}

.pens{
    margin-top: 50%;
}

.n_item{
    width: 32px;
    height: 20px;
    float: left;
    cursor: pointer;
}
.ntem_img{
    width: 40px;
    height: 32px;
    background:url('/static/img/add_button_03.png') no-repeat;
    background-size: cover;
     background-position: center;
}
.ntem_img1{
     width: 40px;
    height: 32px;
    background:url('/static/img/delect_03.png') no-repeat;
    background-size: cover;
     background-position: center;
}

.n_item1{
    float: left;
    cursor: pointer;
}


.n_item1 img{
     width: 98%;
    height: 96%;
  margin-top: -5px;
}
.n_item1 label{
    position: relative;
    top: -35px;
    left: 20px;
    color: #fff;
}
.n_list{
    position: relative;
    top: 13px;
     left: 20%;
}

.n_but{
    margin-top: 20%;
}

.span_da{
    height: 30px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius:5px;
    background: rgba(70,76,91,.9);
    position: absolute;
    top: 0;
    left:103%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding:3px 10px;
    white-space: nowrap;
    transform-origin: left center 0px;
 
   z-index: 999;
}


    
.arrow{
position:absolute;
top:5px;
left:-17px;
width:0;
height:0;
font-size:0;
border:solid 8px;
border-color:transparent rgba(70,76,91,.9) transparent transparent;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}

.home_img{
    position: absolute;
    left: 26px;
    top: 20px;
    width: 50px;
    height: 50px;
}

.home_img img{
    width: 41px;
    height: 49px;
    margin-left: 4px;
}

.home_img:hover{
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
}