.minW{
    background: url("/static/img/backgroundImg.png") no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    min-width: 1330px;
    min-height: 700px;
    font-family: yayuan;
    letter-spacing:1px;
    font-size: 10px;
}

.jenter{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}
.j_left{
    padding-top: 10px;
    width: 40%;
    height: 90%;
    padding-left: 5%;
}
.j_top{
    width: 90%;
    height:110%;
    margin-left: 10%;
}
.j_top img{
   width: 100%;
    height: 86%;
    
}
.j_right{
    width: 57%;
    height: 95%;
    position: relative;
}
 .j_right img{
   width: 90%;
    height: 100%;
}
.j_center{
    width: 4%;
    padding-left:10px;   
}
.j_center img{
    width: 44px;
    position:fixed;
    bottom:0;
}
.list_j{
    margin-top: 20%;
}
.item_j{
    margin-bottom: 10px;
    width: 200px;
   
}

@font-face{
    font-family: yayuan;
    src:url('/static/css/MFYAYUAN_NONCOMMERCIAL-REGULAR.OTF');
}


.j_tab{
    position: relative;
    margin-top: 15%;
    left: 7.7%;
    width: 75%;
    height: 80%;
}


.j_page{
  position: relative;
    left: 120px;
    top:20px;
}
.j_logo{
  position: absolute;
    top: 40px;
    left: 45px;
    width: 150px;
    height: 50px;
}


.j_logo img{
    width: 100%;
    height: 100%;
}
.ivu-input{
    border-bottom:2px solid #01C675;
}

.j_button{
    position: relative;
    top: -550px;
    left:69.5%;
     width:20%;
    color: #57a3f3;
}

.j_but{
    cursor: pointer;
    height:30px;
    margin-bottom:10px;
    width: 20%;
}

.j_but {
    width: 100%;
}

.j_but img{
    width: 100%;
}


.j_button span{
   position: relative;
    top: -30px;
    text-align: center;
    width:100%;
    display: block;
}
.ivu-table-body,
.ivu-table-header{
    text-align: center;
}

.j_list{
    position:absolute;
    top: 0;
    width: 19%;
    height: 83%;
}

.j_box{
    width: 100%;
    height: 70%;
    margin: 0;
    padding-top: 50%;
    padding-left: 8%;
}

.j_list1{
   
    font-family: yayuan;
}
.j_wrapper{
    display: flex;
    width: 220px;
}
.jw_left{
    width: 50%;
    padding-left: 30px;
}
.jw_left img{
    width: 70px;
    height: 70px;
}
.jw_right{
    width: 50%;
    text-align: center;
}