.minR{
    background: url("/static/img/backgroundImg.png") no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    min-width: 1330px;
    min-height: 700px;
}

.total{
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    top: 50%;
    left: 50%;
     -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.r_left{
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.r_left img{
    width: 94%;
    height: 675px;
}

.left_font{
    position: absolute;
    margin-top: 69px;
    top:60px;
    left:14px;
    color: #fff;
    width: 120px;
}

.r_log{
    position: relative;
    top:8px;
    left: 0;
    width: 150px;
    height: 60px;
    margin-bottom:5%;
}
.r_log img{
    width: 100%;
    height: 85%;
}


.r_one{
    position: relative;
    top: 0;
    left: 0;
    background: #F9F9F9;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #0766A3;
    border-radius: 3px;
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}

.ivu-input-group-prepend{
    background:repeating-linear-gradient(#2B9BD6,#1B81C8);
    background:-webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background:-moz-repeating-linear-gradient(#0766A3,#2590D1);
    color: #fff;
    width:16%;
    
}



.one_left{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 50%;

}

.one_left input{
    height: 2.34em;
    border: 1px solid #7FC875;
    margin-left: -3px;
  
}


.one_right{
    padding-top: 5px;
    width: 50%;
}

.one_right label{
    padding:0 2px;
    height: 27px;
    background:#2590D1;
    color: #fff;
    border-radius:3px;
    line-height: 28px;
    text-align: center;
    float: left;
    background: repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -moz-repeating-linear-gradient(#0766A3,#2590D1);
    font-weight: 400;
    font-size: inherit;
}
.ivu-select-selected-value{
    height: 27px;
}

.one_right input{
    height: 2.34em;
    border: 1px solid #7FC875;
   
}

.r_top1{
    margin-top: 4%;
     border-bottom: 8px solid #0766A3;
    border-radius: 3px;
     background: #F9F9F9;
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}
.r_one1{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 30px;
   
}
.one_left1{
    width: 100%;
}

.one_left1 input{
    width:76%;
    height: 2.34em;
    border: 1px solid #7FC875;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    text-decoration: none;
    margin-left: -3px;
    
}


.one_left1 label{
    display: inline-block;
    width: 16%;
    height: 26px;
    color: #fff;
    border-radius:3px;
    line-height: 25px;
    text-align: center;
    background: repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -moz-repeating-linear-gradient(#0766A3,#2590D1);
    font-weight: 400;
    font-size: inherit;
    vertical-align: middle;
    margin-top: -3px;
}

.one_left2{
    width: 100%;
    display: flex;
}

.one_left2 input{
   
    height: 2.34em;
    border: 1px solid #7FC875;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    text-decoration: none;
    margin-left: -3px;
    
}


.one_left2 label{
   width: 25%;
    height: 25px;
    color: #fff;
    border-radius:3px;
    line-height: 25px;
    text-align: center;
    background: repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -moz-repeating-linear-gradient(#0766A3,#2590D1);
    font-weight: 400;
    font-size: inherit;
}




#bg{
    height:50px;
    background: #7FC875;
}

.r_item{
    width:40px;
    height: 32px;
    float: left;
    cursor: pointer;
}
.r_item1{
   
    float: left;
    cursor: pointer;
}
.item_img{
    width:40px;
    height: 32px;
    background:url('/static/img/add_button_03.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.item_img1{
     width: 40px;
    height: 32px;
    background:url('/static/img/delect_03.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.r_item1 img{
    width: 98%;
    height: 96%;
  margin-top: -5px;
}
.r_item1 label{
    position: relative;
    top: -35px;
    left: 20px;
    color: #fff;
}
.r_but{
    margin-bottom: 10%;
}


.r_list{
    position: relative;
    top: 5px;
     left: 20%;
}

 .demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
    }

.r_top2{
    position: relative;
     top: 0;
    left: 0;
    margin-top: 4%;
     border-bottom: 8px solid #0766A3;
    border-radius: 3px;
     background: #F9F9F9;
     
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}



.cord{
    width: 500px;
    height:300px;
    background: url('/static/img/nameCord_03.png') no-repeat;
    background-size: cover;
}



 .demo-upload-list{
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
    }
    .demo-upload-list img{
        width: 100%;
        height: 100%;
    }
    .demo-upload-list-cover{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);
    }
    .demo-upload-list:hover .demo-upload-list-cover{
        display: block;
    }
    .demo-upload-list-cover i{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin: 0 2px;
    }
.album{
    position: relative;
    top: 25%;
    left: 20%;
    width:350px; 
  
}

.album2{
      position: relative;
    top: 25%;
    left: 20%;
    width:350px; 
    display: none;
}
.textarea{
    position: relative;
    left: 15%;
}
.pen{
    position: relative;
    top: -100px;
    left: -2%;
    width: 200px;
    height: 280px;
}
.pen img{
    width: 100%;
    height: 100%;
}
.clip{
    position: relative;
    top: -400px;
    left: 87%;
    width: 140px;
    height: 190px;
}
.clip img{
    width: 90%;
    height: 90%;
}

.but_list{
    position: absolute;
    top:35%;
    left: 46%;
}
.div_but{
   cursor: pointer;
   width: 80px;
   height:30px;
   margin-bottom:10px;
}
.div_but img{
    width: 100%;
    height: 100%;
}

.div_but span{
     position: relative;
    top: -28px;
    left: 2px;
    text-align: center;
    width:80px;
    display: block;
    color: #2871A0;
}

.yanzheng{
     border-radius: 5px;
    border: 1px solid palevioletred;
    text-align: center;
    color: #f00;
    width: 50%;
    z-index: 888;
    position: absolute;
    top: -20px;
    left:30%;
 

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.hide_div{
    margin: 10% auto;
    width: 30%;
    height: 50%;
}

.r_box{
    height: 160px;
}

.r_box1{
    border-top: 1px solid #333333;
    padding-top: 10px;
}

.span_da{
    height: 30px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius:5px;
    background: rgba(70,76,91,.9);
    position: absolute;
    top: 0;
    left:103%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding:3px 10px;
    white-space: nowrap;
    transform-origin: left center 0px;
   z-index: 999;
}


    
.arrow{
position:absolute;
top:5px;
left:-17px;
width:0;
height:0;
font-size:0;
border:solid 8px;
border-color:transparent rgba(70,76,91,.9) transparent transparent;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}

.home_img{
    position: absolute;
    left: 26px;
    top: 20px;
    width: 50px;
    height: 50px;
}

.home_img img{
    width: 41px;
    height: 49px;
    margin-left: 4px;
}

.home_img:hover{
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.ivu-select-dropdown{
    max-height: 100px;
}

.one_gen{
    position: absolute;
    left: 420px;
    top: 90px;
    width: 30px;
    cursor: pointer;
}
.one_gen:hover{
    color: #1874CD;
}

.one_time{
   
    height: 30px;
}

.one_time label{
     padding: 1px 7px;
     font-size: 12px;
    height: 27px;
    background:#2590D1;
    color: #fff;
    border-radius:3px;
    line-height: 28px;
    text-align: center;
    float: left;
    background: repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -moz-repeating-linear-gradient(#0766A3,#2590D1);
 

}