.minR{
    background: url("/static/img/backgroundImg.png") no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    min-width: 1330px;
    font-family: yayuan;
    letter-spacing:1px;
}

.total{
    position: absolute;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
}

@font-face{
    font-family: yayuan;
    src:url('/static/css/MFYAYUAN_NONCOMMERCIAL-REGULAR.OTF');
}


.r_left{
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.r_left img{
    width: 86%;
    height: 97%;
}

.left_font{
    position: relative;
    margin-top: 10%;
    top:-94%;
    left:10px;
    color: #fff;
    width: 100px;
}

.r_log{
    position: relative;
    top:0;
    left: 0;
    width: 150px;
    height: 60px;
    margin-bottom:5%;
}
.r_log img{
    width: 100%;
    height: 100%;
}


.r_one{
    position: relative;
    top: 0;
    left: 0;
    background: #F9F9F9;
    display: flex;
    width: 100%;
    border-bottom: 2px solid #0766A3;
    border-radius: 3px;
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}

.ivu-input-group-prepend{
    background:repeating-linear-gradient(#2B9BD6,#1B81C8);
    background:-webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background:-moz-repeating-linear-gradient(#0766A3,#2590D1);
    color: #fff;
    width:16%;
}



.one_left{
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    width: 50%;

}

.one_left input{
    height: 2.34em;
    border: 1px solid #7FC875;
    margin-left: -3px;
  
}


.one_right{
    padding-top: 5px;
    width: 50%;
}

.one_right label{
    width: 30%;
    height: 27px;
    background:#2590D1;
    color: #fff;
    border-radius:3px;
    line-height: 28px;
    text-align: center;
    float: left;
    background: repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -moz-repeating-linear-gradient(#0766A3,#2590D1);
    font-weight: 400;
    font-size: inherit;
}
.ivu-select-selected-value{
    height: 27px;
}

.one_right input{
    height: 2.34em;
    border: 1px solid #7FC875;
   
}

.r_top1{
    margin-top: 4%;
     border-bottom: 8px solid #0766A3;
    border-radius: 3px;
     background: #F9F9F9;
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}
.r_one1{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 30px;
   
}
.one_left1{
    width: 100%;
}
.one_left1 .ivu-input-icon{
    color: #f00;
}
.one_left1 input{
    width:76%;
    height: 2.34em;
    border: 1px solid #7FC875;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    text-decoration: none;
    margin-left: -3px;
}


.one_left1 label{
    display: inline-block;
    width: 16%;
    height: 25px;
    color: #fff;
    border-radius:3px;
    line-height: 25px;
    text-align: center;
    background: repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -webkit-repeating-linear-gradient(#2B9BD6,#1B81C8);
    background: -moz-repeating-linear-gradient(#0766A3,#2590D1);
    font-weight: 400;
    font-size: inherit;
}



#bg{
    height:50px;
    background: #7FC875;
}

.r_item{
    width: 32px;
    height: 20px;
    float: left;
    cursor: pointer;
}
.item_img{
    width: 30px;
    height: 22px;
    background:url('/static/img/add_button_03.png') no-repeat;
    background-size: cover;
}
.item_img1{
     width: 30px;
    height: 22px;
    background:url('/static/img/delect_03.png') no-repeat;
    background-size: cover;
}
.r_item img{
    width: 100%;
    height: 100%;
}
.r_item label{
    position: relative;
    top: -32px;
    left: 13px;
    color: #fff;
}
.r_but{
    margin-bottom: 10%;
}


.r_list{
    position: relative;
    top: 10px;
     left: 30%;
}

 .demo-spin-icon-load{
        animation: ani-demo-spin 1s linear infinite;
    }

.r_top2{
    position: relative;
     top: 0;
    left: 0;
    margin-top: 4%;
     border-bottom: 8px solid #0766A3;
    border-radius: 3px;
     background: #F9F9F9;
     
    -moz-box-shadow:0px -1px 8px #333333; -webkit-box-shadow:0px -1px 8px #333333; box-shadow:0px -1px 8px #333333;
}



.cord{
    width: 500px;
    height:300px;
    background: url('/static/img/nameCord_03.png') no-repeat;
    background-size: cover;
}



 .demo-upload-list{
        display: inline-block;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        overflow: hidden;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 1px rgba(0,0,0,.2);
        margin-right: 4px;
    }
    .demo-upload-list img{
        width: 100%;
        height: 100%;
    }
    .demo-upload-list-cover{
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);
    }
    .demo-upload-list:hover .demo-upload-list-cover{
        display: block;
    }
    .demo-upload-list-cover i{
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        margin: 0 2px;
    }
.album{
    position: relative;
    top: 25%;
    left: 20%;
    width:350px; 
}
.textarea{
    position: relative;
    left: 15%;
}
.pen{
    position: relative;
    top: -100px;
    left: -2%;
    width: 200px;
    height: 280px;
}
.pen img{
    width: 100%;
    height: 100%;
}
.clip{
    position: relative;
    top: -400px;
    left: 87%;
    width: 140px;
    height: 190px;
}
.clip img{
    width: 90%;
    height: 90%;
}

.but_list{
    position: absolute;
    top:39%;
    left: 42.2%;
}
.div_but{
   cursor: pointer;
   width: 80px;
   height:30px;
   margin-bottom:10px;
}
.div_but img{
    width: 100%;
    height: 100%;
}

.div_but span{
     position: relative;
    top: -30px;
    left: -5px;
    text-align: center;
    width:80px;
    display: block;
    color: #2871A0;
}

.yanzheng{
     border-radius: 5px;
    border: 1px solid palevioletred;
    text-align: center;
    color: #f00;
    width: 50%;
    z-index: 888;
    position: absolute;
    top: -20px;
    left:30%;
 

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.hide_div{
    margin: 10% auto;
    width: 30%;
    height: 50%;
}

.r_box{
    height: 160px;
}

.r_box1{
    border-top: 1px solid #333333;
    padding-top: 10px;
}